---
---

@import "{{ site.theme }}";

// ORANGE - #f7931e
//   BLUE - #091f92

*, html, body {
  padding: 0; margin: 0;
  box-sizing: border-box;

  a { color: #091f92; }
  a:hover { font-weight: normal; }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;

  .site-title {
    flex-grow: 0;

    img { max-width: 100px; }
    .title { display: none; font-size: 2rem; }
    .description { display: none; }
  }

  .navigation {
    display: flex;
    list-style-type: none;

    .nav-item { margin: 0 0.5rem; }
  }
}