---
---

@import "{{ site.theme }}";

// ORANGE - #f7931e
//   BLUE - #091f92

*, html, body {
  padding: 0; margin: 0;
  box-sizing: border-box;
}

a { color: #091f92; }
a:hover { color: #f7931e; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;

  .site-title {
    flex-grow: 0;

    img { max-width: 100px; }
    .title { display: none; font-size: 2rem; }
    .description { display: none; }
  }

  .navigation {
    display: flex;
    list-style-type: none;

    .nav-item {
      margin: 0 0.5rem;

      a {
        border: 1px solid transparent;
        border-radius: 3px;
        background-color: #eee;
        display: inline-block;
        padding: 0.5rem 0.8rem;
        transition: all 0.4s;
      }

      &.current a, a:hover {
        background-color: #fff;
        color: #f7931e;
        border-color: #f7931e;
        font-weight: normal;
      }
    }
  }

}

.main-content {
  margin: 0 5rem;
}